__pycache__/
anipy_cli/__pycache__/
anipy_cli/user_files/
anipy_cli/download/
dist/
build/
anipy_cli.egg-info/
user_files/
anipy_cli/config_personal.py
pypi.sh
.idea/
*.pyc

# VSCode
.vscode/

# Venv
.venv/
venv/
